/* Login */
.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.login-form {
  position: absolute;
  top: 40%;
  left: 42%;
  text-align: center;
  max-width: 300px;
}
.login-form-button {
  width: 100%;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* main */
.footer {
  position: absolute;
  bottom: 80px;
}

.footer .QRcode {
  position: relative;
  left: 12px;
  padding: 16px;
  height: 200px;
  width: 200px;
}

.footer .text {
  text-align: center;
  padding: 5px, 16px;
}

/* Profile */
.main-logo {
  height: 80px;
  width: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* EditProfile */
.profile-form {
  position: absolute;
  left: 47%;
}

/* EditableCell */
.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

.editable-row .ant-form-explain {
  position: absolute;
  font-size: 12px;
  margin-top: -4px;
}
